a {
  text-decoration: none;
  color: inherit;
}

ul,
li {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

img {
  display: block;
  max-width: 100%;
}

body {
  margin: 0px;
  color: #333;
  --type-first: Helvetica, Arial, sans-serif;
  --type-second: "Spectral", georgia;
  font-family: var(--type-first);
}

h1,
h2,
h3,
h3,
p {
  margin: 0px;
}

.App-header {
  background-color: #222;
  height: 50px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.animeLeft {
  opacity: 0;
  transform: translate3d(-20px);
  animation: animeLeft 0.3s forwards;
}

@keyframes animeLeft {
  to {
    opacity: 1;
    transform: initial;
  }
}

.container {
  max-width: 50rem;
  padding: 0 1rem;
  margin: 0 auto;
}
